html {
    position: relative;
    min-height: 100%;
}

body {
    color: white;
    text-align: center;
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}

#topssection {
    color: Green;
}

#container {
    padding: 1em 2em;
}
#preview {
    border: 1px solid rgb(15, 158, 238);
    height: 240px;
    max-width: 100%;
    vertical-align: top;
    width: 320px;
}

#recordedText {
    color: #000000;
    background-color: beige;
    height: 200px;
    width: 50%;
    margin: 0 auto;
    margin-top: 20px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    background-color: #000000;
}

.footer > .container {
    padding-right: 15px;
    padding-left: 15px;
}

.container .text-muted {
    float: left;
    margin: 20px 0;
}