<!DOCTYPE html>
<html lang="en">
<head>
    <title>Record Demo</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/static/record.css">
</head>
<body role="document" data-feedly-mini="yes">
  <!-- Fixed navbar -->
  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">Speechy</a>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li class="active"><a href="#">Home</a></li>
          <li><a href="https://github.com/imprint75/speechy">About</a></li>
          <li><a href="https://github.com/imprint75/speechy">Contact</a></li>
        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </nav>
  <div class="container theme-showcase" role="main">
    <div id="topssection" class="jumbotron">
      <h1>Speechy</h1>
      <p>web demo of speech to text service</p>
    </div>
    <div class="experiment">
      <p>
        <button type="button" id="record" class="btn btn-lg btn-success">Record</button>
        <button type="button" id="stop" class="btn btn-lg btn-danger">Stop</button>
      </p>
      <div id="progress" class="progress hidden">
        <div class="progress-bar progress-bar-striped" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 0%"><span class="sr-only">0% Complete</span></div>
      </div>
      <div id="recordedText" class="container"></div>
    </div>
  </div> <!-- /container -->
  <footer class="footer">
    <div class="container">
      <p class="text-muted">@2016 Speechy</p>
    </div>
  </footer>
  <form id="xsrf">
    {% module xsrf_form_html() %}
  </form>
  <script type="text/javascript" src="/static/audio.js"></script>
  <script type="text/javascript" src="https://cdn.webrtc-experiment.com/RecordRTC.js"></script>
</body>
</html>
